In [85]:
# passo 1: abrir navegador e entrar no site de cotação

from selenium import webdriver

navegador = webdriver.Chrome()

In [86]:
# passo 2: importar a tabela

import pandas as pd

tabela = pd.read_excel('commodities.xlsx')
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8   Tilápia         9.05          NaN      NaN

In [87]:
# passo 3: pegar o valor da cotação

# import unicodedata
# produto = unicodedata.normalize("NFKD", produto).encode("ascii", "ignore") # --> lib para encode ascii(sem acentos ou caracteres especiais)



for linha in tabela.index:
    produto = tabela.loc[linha, "Produto"]
    
    
    produto = produto.replace("ó", "o").replace("ã", "a").replace("á", "a").replace(
    "ç", "c").replace("ú", "u").replace("é", "e") # --> sem lib
    
    link = f'https://www.melhorcambio.com/{produto}-hoje'
    print(link)
    navegador.get(link)
    
    preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace('.', '').replace(',', '.')
    
    print(produto)
    print(preco)


    # passo 4: atualizar tabela

    tabela.loc[linha, 'Preço Atual'] = float(preco)


display(tabela)

https://www.melhorcambio.com/Milho-hoje
Milho
57.43
https://www.melhorcambio.com/Soja-hoje
Soja
133.82
https://www.melhorcambio.com/Boi-hoje
Boi
267.75
https://www.melhorcambio.com/Petroleo-hoje
Petroleo
377.39
https://www.melhorcambio.com/Algodao-hoje
Algodao
390.52
https://www.melhorcambio.com/Acucar-hoje
Acucar
148.92
https://www.melhorcambio.com/Cafe-hoje
Cafe
1042.37
https://www.melhorcambio.com/Ouro-hoje
Ouro
313.07
https://www.melhorcambio.com/Tilapia-hoje
Tilapia
9.64

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        57.43      NaN
1      Soja       163.59       133.82      NaN
2       Boi       282.20       267.75      NaN
3  Petróleo       424.37       377.39      NaN
4   Algodão       497.76       390.52      NaN
5    Açúcar       136.23       148.92      NaN
6      Café      1092.87      1042.37      NaN
7      Ouro       321.77       313.07      NaN
8   Tilápia         9.05         9.64      NaN

In [88]:
# passo 5: preencher o campo comprar e exportar tabela para pc

tabela['Comprar'] = tabela['Preço Atual'] < tabela['Preço Ideal']
display(tabela)

tabela.to_excel('commodities_atualizado.xlsx', index=False)
navegador.quit()

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        57.43     True
1      Soja       163.59       133.82     True
2       Boi       282.20       267.75     True
3  Petróleo       424.37       377.39     True
4   Algodão       497.76       390.52     True
5    Açúcar       136.23       148.92    False
6      Café      1092.87      1042.37     True
7      Ouro       321.77       313.07     True
8   Tilápia         9.05         9.64    False